/* font-family: 'Open Sans', sans-serif;  */


*{
    margin: 0;
    padding: 0;

}
h1 h2 h3 h4 h5 h6 p ul li {
    margin: 0;
    padding: 0;

}
.navbar-toggler:focus {
    box-shadow: none;
}
    /* toggol bar  */
    .menu-btn {
        position: absolute;
        display: inline;
        top: 3%;
        right: 20px;
        font-size: 22px;
        z-index: 999;
     }
     
     .menu-btn a {
        display: inline-block;
        text-decoration: none;
     }
     
     .btn-open:after {
        content: "\f0c9";
        font-family: "fontawesome";
        color: #333;
        -webkit-transition: all .3s linear 0s;
        -moz-transition: all .3s linear 0s;
        -o-transition: all .3s linear 0s;
        transition-property: all .3s linear 0s;
     }
     
     .btn-open:hover:after {
        color: #0b8ed6;
     }
     
     .btn-close:after {
        content: "\f00d";
        font-family: "fontawesome";
        color: #fff;
        -webkit-transition: all .2s linear 0s;
        -moz-transition: all .2s linear 0s;
        -o-transition: all .2s linear 0s;
        transition-property: all .2s linear 0s;
     }
     
     .btn-close:hover:after {
        color: #0b8ed6;
     }
     
     
     /* OVERLAY NAV */
     
     .nav {
        position: fixed;
        display: none;
        overflow: auto;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: rgba(26, 26, 26, 0.9);
        z-index: 99;
     }
     
     .menu {
        width: 100%;
        height: 100%;
     }
     
     .menu ul {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
     }
     
     .menu li {
        display: table;
        margin: 0;
        padding: 0;
        width: 90%;
        height: 10%;
        list-style: none;
        text-align: center;
        -webkit-transition: all .2s linear 0s;
        -moz-transition: all .2s linear 0s;
        -o-transition: all .2s linear 0s;
        transition-property: all .2s linear 0s;
     }
     
     .menu li a {
        display: table-cell;
        color: #fff;
        vertical-align: middle;
     }
     
     .menu li:hover {
        background: #0b8ed6;
     }
     
     
     /* RESPONSIVE */
     
     @media screen and (max-width: 768px) {
        .menu-btn {
           right: 25px;
        }
     }


body{
    font-family: 'Open Sans', sans-serif;

}

.hero-section{
    background-image: url(../images/banner-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.hero-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:#16151b;
    opacity: .4;
    z-index: -1;
}


.navbar-light .navbar-nav .nav-link{
  color: #fff;
  position: relative;
}
.navbar-light .navbar-nav .nav-link:hover::before{
    color: #fff;
    width: 48%;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    color: #fff;
    width: 48%;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link::before{
     content: "";
     position: absolute;
     left: 0;
     bottom: 0;
     height: 2px;
     width: 0%;
     background-color:#008ed6;

}
.navbar-light .navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color:#008ed6;

}


.content{
  z-index: 0;
}
.content h6{

color: #008ed6;

font-size: 15px;

}
.content h1{

color: #fff;

font-size: 47px;

margin-top: 20px;

margin-bottom: 30px;
}
.content p{

color: #9999;

font-size: 18px;

margin-bottom: 41px;
}
.buttan {

margin-top: 0px;
}
.buttan .btn-1{

color: #fff;

background: #0b8ed6;

text-transform: uppercase;

font-size: 16px;

padding: 0;

padding: 10px 18px;

margin-right: 13px;
}
.buttan .btn-2{

color: #ffff;

border: 1px solid #999;

text-transform: uppercase;

font-size: 16px;

padding: 0;
margin-right: 10px;
padding: 10px 18px;

}
.phon{
    position: absolute;
    bottom: 0;
    right: 0%;
}

.responsiv h4{

font-size: 15px;

color: #0b8ed6;
}
.responsiv h1{

font-size: 35px;
}
.responsiv span{
position: relative;    
display: block;
    
height: 2px;
    
width: 14%;
    
margin: auto;

margin-top: 10px;
}

.responsiv span::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #0b8ed6;
    transition: .4s all ease-in-out;
}
.responsiv:hover.responsiv span::before{
    width: 48%;
}
.responsiv span::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #0b8ed6;
    transition: .4s all ease-in-out;
}
.responsiv:hover.responsiv span::after{
    width: 48%;

}


.icon-box h3{

font-size: 24px;

margin: 20px 0px 10px;

color: #1a1a1a;
}
.icon-box p{

font-size: 16px;

color: #999;
}
.icon{

height: 65px;

width: 65px;

border-radius: 60px;

display: flex;

justify-content: center;

align-items: center;

border: 1px solid #999;
}
.icon i{

font-size: 22px;

color: #0b8ed8;
}
.dex{display: flex;justify-content: center;}


.device1 h4{
text-transform: capitalize;
font-size: 15px;

color: #0b8ed8;
}
.device1 h1{

font-size: 36px;
}
.device1 span{

display: block;

width: 20%;

height: 2px;

position: relative;

margin-top: 10px;
}
.device1 span::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   background-color: #0b8ed6;
   height: 100%;
   width: 0%;
   transition: .4s all ease-in-out;
}
.device1:hover.device1 span::before{
    width: 48%;
}
.device1 span::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0b8ed6;
    height: 100%;
    width: 0%;
    transition: .4s all ease-in-out;
 }
 .device1:hover.device1 span::after{
     width: 48%;
 }
.device1 p{

font-size: 17px;

color: #999;

margin: 20px 0px 30px;
}
.price{
    display: flex;
    align-items:baseline;
}
.price i{
    height: 30px;
    width: 30px;
    color: #0b8ed8;
}
.price h5{
    font-size: 17px;
    font-weight: 400;
}
.device2{
    background-color: #f2f2f2;
}
.footer-hero{
    background-image: url(../images/pexels-johannes-plenio-11724620.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
    position: relative;
}
.footer-hero::before{
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     
     
}
.footer-hero h2{
    color: #fff;
}
.footer-hero:hover .responsiv span::before{
    width: 48%;
}
.footer-hero:hover .responsiv span::after{
    width: 48%;
}

.comment p{

color: black;

font-size: 20px;

font-style: italic;

font-weight: 500;
}
.comment-section{

display: flex;

align-items: center;
margin-top: 35px;
}
.cat{margin-right: 20px;
    width: 13%;
}
.cat img{
    
height: 75px;
    
width: 75px;

border-radius: 80px;
}
.comment h5{

}
.comment h6{

}
.owl-carousel .owl-dots{
    display: block;
    text-align: center;
}
.owl-dots .owl-dot span{
    display: block;
    border: 1px solid #999;
    background-color:black;
    height: 9px;
    width: 9px;
    border-radius: 30px;
    margin-right: 5px;
}
 .owl-dots .active span{
    background-color:#fff;
    height: 10px;
    width: 10px;
}

.owl-carousel .owl-dots.disabled {
   display: block;
}
.download{
   background-color: #15141a;
}
.download h2{

font-size: 21px;

color: #fff;
}
.download h2 span{

font-size: 29px;
}
.price-box{

border: 1px solid #e0e0e0;
}
.price-box h1{margin: 0;border-bottom: 1px solid #e0e0e0;padding: 25px 0px;
    font-size: 30px;
}
.amount{

border-bottom: 1px solid #e0e0e0;

padding: 30px 0px;
}
.amount h3{

font-size: 35px;
}
.amount sup{

}
.amount h5{

font-size: 14px;

color: #999;

margin-top: 12px;
}
.price-box p{

padding: 20px 30px;

font-size: 16px;

color: #999;
}
.btn-price{border: none;border: 1px solid #e0e0e0;font-size: 16px;text-transform: uppercase;padding: 5px 12px;margin-bottom: 15px;}

.price-box i{
   color: #0b8ed6;
}
.price-box:hover h1{
    color: #0b8ed8;
}
.price-box:hover .amount{
    background-color:#0b8ed8;
}
.price-box:hover .amount h3{
    color: #fff;
}
.price-box:hover .amount h5{
    color: #fff;
}
.price-box:hover .btn-price{
    background-color: #0b8ed8;
    color: #fff;
}
.contact{
    background-color: #ededed;
    position: relative;
    padding-bottom: 230px;
}

.location i{
    color:#0b8ed8;
    font-size: 32px;
    margin-bottom: 20px;
}
.location p{
  color: #999;
  width: 45%;
  margin: auto;
}
.form-part{
    background-color: #000;
    padding: 40px 35px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -40px;
}
.form-part form{

}
.form-part form input{

background: transparent;
}
.form-part form input[type=submit]{

color: #fff;

padding: 0;

border: 1px solid;
text-transform: uppercase;

padding: 4px 25px;
border-radius: 1px;
background:#0b8ed8;
}
.form-part form textarea{

background: transparent;

height: 90%;
}

footer{
   background-color: #15141a;
}
.footer-icon{

width: 30%;

margin: auto;
}
.footer-icon ul{

display: flex;

justify-content: space-between;
}
.footer-icon ul li{

list-style: none;
}
.footer-icon ul li a{color: #444348;font-size: 22px;margin-right: 34px;}
.footer-icon ul li a:hover{
    color: #0b8ed8;
}

.copyright h3{

font-size: 16px;

text-transform: uppercase;

color: #999;

margin-top: 17px;

/* margin-left: 30px; */
}


    



































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    





































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    


































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































